
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name='robots' content='noindex,follow' />
	<title>Mainful Administrator UI</title>
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
    
	<link type="text/css" href="~/app/themes/theme-crisp-touch/resources/theme-crisp-touch-all.css" rel="stylesheet" />
    @*<link type="text/css" href="~/app/themes/theme-triton/resources/theme-triton-all.css" rel="stylesheet" />*@
    @*<link type="text/css" href="~/app/themes/theme-neptune/resources/theme-neptune-all.css" rel="stylesheet" />*@
	<link type="text/css" href="~/app/css/icons.css" rel="stylesheet" />

	
    <script type="text/javascript" src="~/app/core/ext-all-debug-6.0.1.js"></script>
	@*<script type="text/javascript" src="~/app/core/ext-all-debug-5.1.1.451.js"></script>*@
	<script type="text/javascript" src="~/app/core/Ext.ux.GMapPanel.js"></script>
	@*<script src="~/app/themes/theme-triton/theme-triton-debug.js"></script>*@
    <script src="~/app/themes/theme-crisp-touch/theme-crisp-touch.js"></script>
    @*<script src="~/app/themes/theme-neptune/theme-neptune.js"></script>*@
	<script type="text/javascript" src="~/app/core/app.js"></script>

	<script type="text/javascript" src="~/app/core/widget/MyLookupComponent.js"></script>
	@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK-qIjuy6wMuDjycGoZDXOYMHLaSoPR1w" type="text/javascript"></script>*@
    @*<script type="text/javascript" src="~/Scripts/ext-all-5.1.1.451.js"></script>*@


    

</head>
<body>
</body>
</html>
